/* Styles go here */

body {
  font-family: Verdana, sans-serif;
  background-color: lightgrey;
}

h2, h3 {
  margin: 0 0 .7em 0;
}

#map {
        height: 400px;
        width: 100%;
        margin: 20px auto;
        max-width: 1000px;
       }
       
#form1 {
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

.menu-layout {
  display: flex;
  margin: 0px auto;
  max-width: 930px;
  width: 100%;
  justify-content: space-between;
}

.menu-item {
  flex: 1;
  text-align: center;
  color: white;
  background-color:red;
  box-sizing: border-box;
  line-height: 1.65;
  padding: 1em 0em;
  margin: 1em;
  flex-basis: 30%;
  transition-property: background-color, border-radius;
  transition-duration: 2s, 1s;
}

.menu-item a:link,a:hover,a:visited,a:active {
  color:white;
  text-decoration:none;
}

.menu-item:hover {
  background-color:orange;
  border-radius: 50%;
  cursor: pointer;
}

#logo {
  width: 100%;
}

.column-layout {
  max-width: 800px;
  background-color: white;
  margin: 10px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.main-column {
  flex: 2;
  order: 1;
  padding-right: 40px;
}

.sidebar-two {
  flex: 1;
  order: 2;
}

.call-outs-container {
  max-width: 900px;
  margin: 20px auto 0 auto;
  display:flex;
  justify-content: space-between;
}

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 49%;
}

.call-out:nth-child(1) {background-color:teal;}
.call-out:nth-child(2) {background-color:orange;}

button {
  background-color:dodgerblue;
  color: white;
  width: 5rem;
  height: 2rem;
  
}
